.navbar {
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  z-index: 3;
}

.navbar-header {
  font-size: 1.3em;
  font-weight: normal;
}

.links {
  list-style: none;
}

.links li {
  display: inline-block;
  margin-right: 25px;
}

.navbar-link {
  color: black;
  font-size: 1em;
  text-decoration: none;
}
